.articleTile {
  border: 2px solid #000;
  min-height: auto;
}

@media (max-width: 640px) {
  .articleTile:not(:first-child) {
    border-top: none;
  }
}

@media (min-width: 641px) and (max-width: 1023px) {
  .articleTile {
    border-left: none;
  }

  .articleTile:nth-child(2n+1) {
    border-left: 2px solid #000;
  }

  .articleTile:nth-child(n+3) {
    border-top: none;
  }
}

@media (min-width: 1024px) {
  .articleTile {
    border-left: none;
  }

  .articleTile:nth-child(3n+1) {
    border-left: 2px solid #000;
  }

  .articleTile:nth-child(n+4) {
    border-top: none;
  }
}
